.joan-regular {
  font-family: "Joan", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: "Joan", serif;
}


.coisa {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1vw;

}

.coisa span {
    color: white;
    font-size: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
}


header {
    background-color: #636363;
}

h5 {
    align-items: center;
    color: white;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.lista li {
    margin: 1vw;
    color: white;
    text-decoration: underline;
}

.lista ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

/* ALGODOES */

h1.enj {
    color: rgb(0, 0, 0);
    font-size: 6vw;
    margin: 2vw;
    text-align: center;
}

.logo a {
    color: white;
    font-size: 2vw;
}

.marx {
    background:
        url(imgs/algdao\ karl\ marx.png);
    text-align: center;
    padding: 10vw 0 10vw 0;
    background-size: cover;
}

.marx p {
    color: white;
    font-size: 2vw;
    padding-top: 1vw;
}
/* SESSOES DE NAO SEI OQUE  */

.sessoes li {
    position: relative;
    margin: 35px;
}

.sessoes img {
    width: 100%;
    display: block;
    border-radius: 10px;
}
.sessoes p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-align: center;
}

.sessoes ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
    padding: 0;
}

/* REGISTRO  */

.textoRegistro {
    text-align: center;
}
.textoRegistro p {
    align-items: center;
    margin: 6vw 0 9vw 15vw;
    font-size: 50px;
    color: white;
    max-width: 70vw;   

    /* width: 20%;  nao comsif=go fazer, ele discentraliza */
}
.textoRegistro h3 {
    margin-top: 3vw;
    font-size: 6vw;
    color: white;
}

.textoRegistro button {
    padding: 20px 50px 20px 50px;
    border-radius: 50px;
    background-color: white;
    border: none;
    font-size: 50px;
    margin-bottom: 6vw  ;
}
.textoRegistro {
    background: url(imgs/sofia-hernandez-8cCfjxR8KTw-unsplash\ 1.png);
    background-size: cover;
    /* esse background cover nao deixa a magem ficaar repetida */
}


/* CARDAPIOP */

.cardapio {
    display: flex;
   
}
.textoCardapio {
    text-align: left;
    padding: 3vw 0 0 4vw;
}
.textoCardapio h3 {
    text-align: center;
    font-size: 5vw;
}
.textoCardapio p {
    padding-top: 1vw;
    padding-left: 2.5vw;
    font-size: 3vw;
    max-width: 40vw;
}

.cardapio img {
    margin: 3vw 0 0 3vw;
    width: 45vw;
}

.cardapio button {
    text-align: center;
    font-size: 45px;
    padding: 2vw 8vw;
    background-color: #BABABA;
    border-radius: 70px;
    margin: 3vw 0 0 3vw;
}



footer {
    background-color: #BABABA;
    text-align: center;
    padding: 8vw;
    margin-top: 6vw;
    font-size: 4vw;
}

footer a {
    font-size: 6vw;
}





